# Application
PORT=9000
NODE_ENV=development
API_PREFIX=api
API_VERSION=v1

# Database
DATABASE_URL=postgresql://postgres:12345678@localhost:5432/backend-api?schema=public
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=auth_rbac_db
DB_SCHEMA=public
DB_LOGGING=true
DB_SYNCHRONIZE=true
DB_MIGRATIONS=true
DB_MIGRATIONS_DIR=migrations
DB_ENTITIES_DIR=entities
DB_SUBSCRIBER_DIR=subscribers


# Authentication
JWT_SECRET=4cd628dec7d109fff2553d2d233b56a295a9252bd37cd090c7400e1c0848afe5
ACCESS_TOKEN_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d
OTP_EXPIRATION=120
OTP_LENGTH=6

# Upload
UPLOAD_PATH=public/uploads
UPLOAD_URL=/uploads
UPLOAD_MAX_SIZE=5242880
UPLOAD_ALLOWED_MIME_TYPES=image/jpeg,image/png,image/gif,application/pdf

# CORS
CORS_ORIGIN=*
CORS_CREDENTIALS=false

# Logging
LOG_LEVEL=info
LOG_DIRECTORY=logs

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=ecshopvietnamese@gmail.com
EMAIL_PASSWORD=bhvksgtrvzrsukqk
EMAIL_FROM=ecshopvietnamese@gmail.com
EMAIL_FROM_NAME=ECShop

# SMS
SMS_ENABLED=false
SMS_PROVIDER=mock
SMS_API_KEY=your-api-key
SMS_API_SECRET=your-api-secret
SMS_FROM=ECShop
